* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: burlywood;
  border: 3px solid black;
  margin-top: 10px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 40px;
}

#lasa {
  margin-top: 60px; 

}


.page {
  text-decoration: none;
  color: burlywood;
  display: inline-block;
  margin-left: 300px;  
  transition: color 0.3s ease;
  padding: 6px 12px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  
}

.page:hover {
  color: black;
  background-color:wheat;
  border-radius: 10px;
  display: inline-block;

}


.lasagna-inline {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0 4px 15px wheat;
  transition: transform 0.3s ease,
  box-shadow 0.3s ease;  
  margin-top: 20px;
  margin-bottom: 20px;
}

.lasagna-inline:hover {
  transform: translateY(-20px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

.background-1 {
  font-family:  Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  height: 100vhz;
}

.background-1::before {
   content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
   background-image: url(https://t3.ftcdn.net/jpg/02/52/12/40/240_F_252124067_aCtp9ZD934RboKmjJzkXiwYDL7XkNjpn.jpg);
   background-size: cover;
   filter: blur(3px);
   z-index: -1;
}

#sizing {
  height: 240px;
  width: 360px;
}

.page-2 {
  color: white;
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.i {
  margin-left: 500px;
}

#cake {
  margin-right: 200px;

}


